.div{
    width: 1000px;
    margin: 0 auto;
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
}

.div1{
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
}

.table{
    margin-left: 160px;
    border-radius: 5px;
}

h1{
    text-align: center;
    background-color: red;
    width: 1015px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
}